<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro de Entrega de Alimentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #98beda">
        <div class="container-fluid">
            <span class="navbar-brand">Entrega de alimentos</span>
            <div class="d-flex">
                <a class="nav-link px-3 text-dark fw-bold" th:href="@{/}">Inicio</a>
                <a class="nav-link px-3 text-dark" th:href="@{/entregaAsistencia/Listar}">Lista de entrega de alimentos</a>
                <a class="nav-link px-3 text-dark" th:href="@{/familia/listar}">Familias</a>
                <a class="nav-link px-3 text-dark" th:href="@{/preparacion/Listado}">Preparaciones</a> 
            </div>
        </div>
    </nav>


    <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="card p-4" style="width: 100%; max-width: 600px;">
            <h2 class="text-center mb-3">Registro de Entrega de Alimentos</h2>
            <div class="card-body">
                <!-- Mensaje de error si existe -->
                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                <form th:action="@{/entregaAsistencia/Guardar}" th:object="${entregaNueva}" method="post">
                    <!-- formulario de registro -->
                    <!-- para el registro de entrega de asistencia use para cargar los datos
                     del numero de familia y el plato una lista desplegable para que
                     el controlador pueda cargar los datos desde la base de datos
                     y el usuario pueda seleccionar el numero de familia y el plato
                     asi evito que el usuario tenga que escribir el numero de familia
                     y el plato, lo que podria generar errores en el registro de la entrega de asistencia
                     como por ejemplo:
                     - errores de tipeo 
                     - que no exista el numero de familia o el plato y devuelva NULL porque no existe
                     en la base de datos, por lo tanto se usa una lista desplegable para evitar esos errores
                     -->
                    <div class="mb-3">
                        <!-- formulario de selección de número de familia -->
                        <!-- valida que se seleccione un número de familia -->
                        <label for="disabledSelect" class="form-label">Numero de familia</label>
                        <select id="disabledSelect" class="form-select" th:field="*{familia}" required
                            oninvalid="this.setCustomValidity('Por favor, seleccione un número de familia')"
                            oninput="this.setCustomValidity('')">
                            <option value="">Seleccione un número de familia</option>
                            <option th:each="nro : ${nrosFamilia}" th:value="${nro}" th:text="${nro}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <!-- formulario de selección de nombre de familia -->
                        <!-- valida que se seleccione un nombre de familia -->
                        <label for="disabledSelect" class="form-label">Plato</label>
                        <select id="disabledSelect" class="form-select" th:field="*{preparacion}" required
                            oninvalid="this.setCustomValidity('Por favor, seleccione un plato')"
                            oninput="this.setCustomValidity('')">
                            <option value="">Seleccione un plato</option>
                            <option th:each="p : ${preparaciones}" th:value="${p.id}" th:text="${p.receta.nombre}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <!-- formulario de cantidad de raciones -->
                        <!-- valida que se ingrese una cantidad mayor o igual a 1 -->
                        <label for="disabledTextInput" class="form-label">Cantidad de raciones</label>
                        <input type="number" id="cantidadRaciones" class="form-control" th:field="*{cantidadRaciones}"
                            placeholder="Ingrese cantidad de raciones" min="1"
                            oninvalid="this.setCustomValidity('Por favor, ingrese una cantidad mayor o igual a 1')"
                            oninput="this.setCustomValidity('')">
                    </div>
                    <div class="mt-4">
                        <!-- botón de registro -->
                        <!-- valida que se seleccionen todos los campos -->
                        <button type="submit" class="btn btn-outline-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>