<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listado de Entrega de Alimentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #98beda">
        <div class="container-fluid">
            <span class="navbar-brand">Entrega de alimentos</span>
            <div class="d-flex">
                <a class="nav-link px-3 text-dark fw-bold" th:href="@{/}">Inicio</a>
                <a class="nav-link px-3 text-dark" th:href="@{/familia/listar}">Familias</a>
                <a class="nav-link px-3 text-dark" th:href="@{/preparacion/Listado}">Preparaciones</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <!-- filtro de busqueda por fecha, nro familia y nombre familia -->
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto">
                <div class="p-3 rounded shadow-sm bg-light mb-4">
                    <form class="row g-3 justify-content-center align-items-end" method="get"
                        th:action="@{/entregaAsistencia/Filtrar}">
                        <div class="col-auto">
                            <label class="form-label mb-0">Filtrar por fecha:</label>
                            <input type="date" name="fecha" class="form-control" />
                        </div>
                        <div class="col-auto">
                            <label class="form-label mb-0">Filtrar por nro. familia:</label>
                            <input type="number" name="nroFamilia" class="form-control"
                                placeholder="Nro familia (Ej: 1)" />
                        </div>
                        <div class="col-auto">
                            <label class="form-label mb-0">Filtrar por nombre familia:</label>
                            <input type="text" name="nombreFamilia" class="form-control"
                                placeholder="Nombre familia (Ej: Gómez)" />
                        </div>
                        <div class="col-auto">
                            <label class="form-label mb-0 invisible">Acción</label>
                            <div>
                                <button type="submit" class="btn btn-outline-info btn-sm me-2">Buscar</button>
                                <a th:href="@{/entregaAsistencia/Listar}"
                                    class="btn btn-outline-danger btn-sm">Limpiar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <h1 class="mb-5">Lista de Entrega de Alimentos</h1>
                <div class="mb-3">
                    <!-- botón para registrar una nueva entrega de alimentos -->
                    <a class="btn btn-outline-success" th:href="@{/entregaAsistencia/Alta}">Registrar entrega de
                        alimentos</a>
                </div>
                <!-- mensaje que se muestra si no hay entregas registradas -->
                <div th:if="${#lists.isEmpty(entregas)}" class="alert alert-info text-center">
                    No hay entregas de alimentos registradas.
                </div>
                <!-- tabla que muestra las entregas de alimentos -->
                <table class="table table-striped table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Numero de familia</th>
                            <th scope="col">Nombre de familia</th>
                            <th scope="col">Plato entregado</th>
                            <th scope="col">Numero de raciones entregadas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entrega : ${entregas}">
                            <td th:text="${entrega.familia.nroFamilia}"></td>
                            <td th:text="${entrega.familia.nombre}"></td>
                            <td th:text="${entrega.preparacion.receta.nombre}"></td>
                            <td th:text="${entrega.cantidadRaciones}"></td>
                            <td>
                                <!-- botón para eiminar la entrega de alimentos -->
                                <a class="btn btn-outline-danger"
                                    th:href="@{/entregaAsistencia/Eliminar/{id}(id=${entrega.id})}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>